/*
 * Copyright (C) 2023 Nordic Semiconductor ASA
 * SPDX-License-Identifier: Apache-2.0
 */

#include <dt-bindings/regulator/npm1300.h>
#include <zephyr/dt-bindings/input/input-event-codes.h>

&i2c0 {
    npm1300_ek_pmic: pmic@6b {
        compatible = "nordic,npm1300";
        reg = <0x6b>;

        host-int-gpios = <&gpio0 12 0>;
        pmic-int-pin = <1>;
        // long-press-reset = "one-button";
        // ship-to-active-time = <96>;


        npm1300_ek_gpio: gpio-controller {
            compatible = "nordic,npm1300-gpio";
            gpio-controller;
            #gpio-cells = <2>;
            ngpios = <5>;
        };

        npm1300_ek_regulators: regulators {
            compatible = "nordic,npm1300-regulator";


            npm1300_ek_buck1: BUCK1 {
                regulator-min-microvolt = <1000000>;
                regulator-max-microvolt = <3300000>;

                retention-microvolt = <1000000>;
            };

            npm1300_ek_buck2: BUCK2 {
                regulator-min-microvolt = <1000000>;
                regulator-max-microvolt = <3300000>;

                retention-microvolt = <3000000>;
            };



            npm1300_ek_ldo1: LDO1 {
                regulator-initial-mode = <NPM1300_LDSW_MODE_LDSW>;

                regulator-min-microvolt = <1000000>;
                regulator-max-microvolt = <3300000>;
                // soft-start-microamp = <20000>;
            };



            npm1300_ek_ldo2: LDO2 {
                regulator-min-microvolt = <1000000>;
                regulator-max-microvolt = <3300000>;
                regulator-initial-mode = <NPM1300_LDSW_MODE_LDSW>;
                // soft-start-microamp = <20000>;
            };

        };


        npm1300_ek_charger: charger {
            compatible = "nordic,npm1300-charger";
            term-microvolt = <4200000>;
            term-warm-microvolt = <4000000>;
            // term-current-percent = <10>;
            current-microamp = <100000>;
            // trickle-microvolt = <2500000>;
            dischg-limit-microamp = <1340000>;
            vbus-limit-microamp = <100000>;
            thermistor-ohms = <10000>;
            thermistor-beta = <3380>;
            // disable-recharge;
            charging-enable;
        };


        npm1300_ek_leds: leds {
            compatible = "nordic,npm1300-led";
            nordic,led0-mode = "host";
            nordic,led1-mode = "charging";
            nordic,led2-mode = "host";
        };

    };
};